<h1>Blocipedia</h1>
<h3>Welcome to our application</h3>
<p>Join our community and access knowledge from around the world.</p><br>
<p>If you register for a member of premium account, you can communicate with other members and educate the rest of our community as they educate you!</p>